

.myfooter{

    background-color: #dc3545 !important;
    border-top: 6px solid rgb(204, 14, 14) !important;
    color: #ffffff;


}

textarea{
    border-style:dashed;
     height: 150px;
    line-height: 150px; /* same as height! */

}

 